*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color-: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-heihgt: 120px;
    --star-gold-color: #ffce3e;
    --header-with-search-height: calc(var(--header-heihgt) - var(--navbar-height));
}
.col-1 {width: 8.33%;}
.col-1-5{width: 12.5%;}
.col-2 {width: 16.66%;}
.col-2-5 {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-size: .875rem !important;
}

.hover-cursor {
    cursor: pointer;
}

.flex {
    display: flex;
}
.m-10 {
    margin: 10px;
}
#main {
    background-color: #f5f5f5;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: linear-gradient(#ef4430,#f06230);
}
.container-navbar {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
}
.navbar-list{
    color: var(--white-color);
    align-items: center;
    margin: 10px;
}
.nav-become-seller {
    color: var(--white-color);
}
.nav-become-seller::after {
    content: "";
    height: 15px;
    margin: 0 10px;
    border-left: 0.5px solid #f1705a;
    border-right: 0.5px solid #f1705a;
}
.nav-become-seller:hover {
    color: #fff;
    opacity: 0.7 !important;
    text-decoration: none !important;
}

.list_item {
    padding-left: 12px;
}
.list_item > p {
    padding: 0 10px;
    color: var(--white-color);
}
.nav-connection-fb {
    color: var(--white-color);
    padding-right: 5px;
}
.nav-connection-ig {
    color: #fff;
}
.nav-connection-fb:hover,
.nav-connection-ig:hover {
    color: #fff;
    opacity: 0.7 !important;
    text-decoration: none !important;
}

.nav-sign_up::after {
    content: "";
    height: 15px;
    margin: 0 10px;
    border-left: 0.5px solid #f1705a;
    border-right: 0.5px solid #f1705a;
}
.nav-sign_up:hover {
    color: #fff;
    opacity: 0.7 !important;
    text-decoration: none !important;
}

.icon-down {
    margin: 1px;
}
.item_dowload{
    position: relative;
}
.item_dowload:hover .modal-download {
    display: block;
}

/* Modal download */
.modal-download {
    display: none;
    width: 190px;
    margin-top: 7px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 0 2px var(--border-color);
    z-index: 400;
}
.download-app-qr::after {
    content: "";
    height: 15px;
    margin: 0 10px;
    border-left: 0.5px solid #f1705a;
    border-right: 0.5px solid #f1705a;
}
.download-app-qr:hover {
    color: #fff;
    opacity: 0.7 !important;
    text-decoration: none !important;
}
.download-qr {
    width: 95%;
}
.download-app {
    padding-bottom: 5px;
}

.item-icon {
    color: var(--white-color);
}
 
.navbar-search {
    display: flex;

}
.navbar-login {
    display: flex;
    align-items: center;
}
.btn-login {
    color: var(--light);
    border: none;
    background: space;
}
.container-nav-sign-up:hover {
    color: #fff;
    opacity: 0.7 !important;
    text-decoration: none !important;
}
button:focus {
    outline: none !important;
}
.container-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 1200px;
    display: flex;
}

.header-with-search__shopee-logo {
    width: 162px;
    height: 50px;
}

.container-search {
    background-color: var(--white-color);
    height: 70%;
    border-radius: 5px;
}
.input-group { 
    border-radius: 5px;
    background-color: var(--white-color);
}
.form-control:focus {
    box-shadow: none !important;
}
.form-control {
    padding: 12px !important;
    border: none !important;
}
.input-group-append {
    margin: 4px
}
.btn-input-secondary {
    padding: 0 25px !important;
    background-color: red;
    border-radius: 5px !important;
    border-color: transparent;
    color: var(--white-color);
}
.btn-input-secondary:focus {
    box-shadow: none !important;
}
.icon-cart {
    cursor: pointer;
    color: var(--white-color);
}
.icon-cart:hover {
    opacity: 0.7;
}

.container-slide {
    margin: 10px auto 0;
    width: 1200px;
    display: flex;
}
.carousel {
    width: 100%;
}
.animated-slides{
    padding: 0 !important;
    padding-right: 5px !important;
}
.carousel-item > img {
    height: 100% !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 5% !important;
    opacity: 1 !important;
}
.carousel-control-next-icon:hover, 
.carousel-control-prev-icon:hover{
    opacity: 0.6;
}
.static-slides {
    padding: 0 !important;
    padding-left: 5px !important;
}
.slides-top {
    background-image: url(./image/slide-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.slides-bottom {
    background-image: url(./image/slidedown.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.size-slide {
    width: 100%;
    height: 49%;
}
.container-supply {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 1200px;
    display: flex;
    background-color: var( --white-color);
    border-radius: 5px;
    min-height: 108px;
}
.supply-option > div {
    margin: 10px;
}
.supply-option > div:hover {
    margin: 5px;
}

.header-option {
    margin: auto;
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}
.content-option {
    text-align: center;
    margin-top: 10px;
    color: var(--black-color);
}
.supply-option:hover {
    color: var(--primary-color-) !important;
    text-decoration: none !important;
}

.section-category {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 1200px;
    display: flex;
    background-color: var( --white-color);
    border-radius: 5px;
}

.section-category-header {
    margin: 20px;
}


.section-category-list {
    width: 100%;
}

.section-category-content {
    min-height: 300px;
}
/* .section-category-content-wrapper {

}
.img-carousel_item-list-grid {

} */
.img-carousel_item-list {
    float: right;
    width: 10%;
    list-style: none;
}
.img-carousel-link {
    /* position: relative; */
    display: block;
    border: 1px solid #f2f2f2;
}
.img-carousel-link:hover {
    box-shadow: 0 0 5px var(--border-color);
}
.img-carousel-item {
    display: flex;
    width: 100%;
    height: 50%;
    color: var(--black-color);
    flex-direction: column;
    align-items: center;
}
.img-carousel-link:hover {
    text-decoration: none;
    color: var(--primary-color-);
}
.img-carousel-group {
    width: 70%;
    height: 70%;
    margin-top: 10%;
}
.img-carousel {
    background-size: contain;
    height: 84px;
    width: 84px;
    background-repeat: no-repeat;
}

.img-carousel-content {
    height: 3.125rem;
    text-align: center;
    width: 90%;
    margin-bottom: 5px;
    text-align: center;
}

.selection-recommend-product-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 4rem;
    width: 1200px;
}
.selection-recommend-product-header {
    background-color: var(--white-color);
}
.recommend-product-header-list {
    list-style: none;
    margin: 0;
    display: flex;
}
.header-suggest-container {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: center;
}
.header-suggest {
    padding: 10px;
}
.header-suggest > span {
    font-size: 1.05rem;
    color: var(--primary-color-);
}
.focus-selection {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    width: 100%;
    height: 0.2rem;
}
.header-sale-container {
    display: flex;
    padding: 7px;
}
.header-img-sale {
    padding: 10px;
}
.img-sale {
    height: 1.25rem;
    width: auto;
}

/* .selection-recommend-product-list {

} */
/* .container-product-panel_list {

}  */
.container-product-list {
    flex-wrap: wrap;
    display: flex;
}
.container-48-products-show { 
    padding: 5px !important;
}

.container-products-show {
    height: 100%;
    margin-top: 2px;
    background-color: var(--white-color);
}
.container-products-show:hover {
    margin-top: 0;
    border: 1px solid red;
}
.container-products-show:hover .cart-hover-footer {
    opacity: 1;
    transition: opacity .2s;
}
.container-producs {
    height: 100%;
    margin: 1px;
}
.container-producs:hover {
    margin: 0;
}
.container-producs_link {
    color: var(--text-color);

}
.container-producs_link:hover {
    color: var(--text-color);
    text-decoration: none;
}
.container-producs_header {
    position: relative;
}
.container-producs_img > img {
    width: 100%;
    height: auto;
}
.container-producs_ptsale {
    position: absolute;
} 
.container-producs_content {
    position: relative;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
}
.container_content-wrapper {
    display: flex;
    justify-content: center;
}
.container_content-word {
    line-height: initial;
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    /* text-overflow: ellipsis; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.container_content-price {
    margin-top: 10px;
    display: flex;
}
._content-price {
    width: 60%;
    color: var(--primary-color-);
}
._content-quantity-sold {
    text-align: end;
    width: 40%;
    color: #999;
    font-size: 0.8rem;
    display: none;
}
.price-unit {
    font-size: 0.7rem;
}
.price-money {
    font-size: 1rem;
}
.cart-hover-footer {
    opacity: 0;
    border: 2px solid red;
    background-color: var(--primary-color-);
    position: absolute;
    left: calc(1px - 2px);
    top: calc(100% - 0.125rem);
    width: calc(100% + 2px);
    height: 1.875rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 10;
}
.hover-footer_link {
    display: flex;
    height: 100%;
    color: var(--white-color);
    justify-content: center;
    align-content: center;
}
.hover-footer_link:hover {
    text-decoration: none;
}
.hover-footer_text {
    color: var(--white-color);
}
